<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DDR'dle (Audio)</title>
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div
      id="app"
      class="flex flex-col gap-4 justify-center items-center container mx-auto p-4"
    >
      <div class="container mx-auto p-4">
        <div
          class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden"
        >
          <img
            v-if="isGameDone"
            :src="currentSong.imagesUrl"
            class="h-full w-full transition-all duration-500"
            alt="Song Cover"
          />
          <div class="p-8">
            <div class="mb-6">
              <audio ref="audioPlayer" @ended="audioEnded" class="w-full">
                <source :src="currentSong.audioUrl" type="audio/ogg" />
                Your browser does not support the audio element.
              </audio>
              <div class="mt-4 flex justify-between items-center">
                <button
                  @click="playAudio"
                  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                >
                  {{ isPlaying ? '⏸︎' : '⏵︎' }}
                </button>
                <div class="text-gray-600">
                  Playing: {{ currentDuration }}s / {{ totalDuration }}s
                </div>
              </div>
            </div>
            <div
              class="uppercase tracking-wide text-sm text-indigo-500 font-semibold mb-2"
            >
              Guesses: {{ guesses }}
            </div>
            <p class="mt-2 text-slate-500 mb-4">{{ feedback }}</p>
            <div class="mb-4">
              <input
                v-model="userInput"
                @input="getSuggestions"
                :disabled="isGameDone"
                type="text"
                placeholder="Guess the song"
                class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:cursor-not-allowed"
              />
              <ul
                v-if="suggestions.length"
                class="absolute bg-white border border-gray-300 w-1/2 h-96 overflow-y-scroll mt-1 rounded-md shadow-lg"
              >
                <li
                  v-for="suggestion in suggestions"
                  :key="suggestion"
                  @click="selectSuggestion(suggestion)"
                  class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                >
                  {{ suggestion }}
                </li>
              </ul>
            </div>
            <div class="flex">
              <button
                @click="checkGuess"
                :disabled="isGameDone"
                class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:cursor-not-allowed disabled:text-gray-300"
              >
                Submit Guess
              </button>
              <div class="flex gap-1 ml-auto">
                <button
                  @click="skip"
                  :disabled="isSkipDisabled"
                  class="mt-4 px-4 py-1 bg-gray-500 text-white rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:cursor-not-allowed disabled:text-gray-300"
                >
                  &rarr;
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-6">
          <a href="/" class="text-blue-500 hover:text-blue-600">Back to Home</a>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, computed, onMounted } = Vue;

      const INITIAL_FEEDBACK = "Start guessing!";

      createApp({
        setup() {
          const audioPlayer = ref(null);
          const currentSong = ref({});
          const userInput = ref("");
          const guesses = ref(0);
          const maxGuesses = 5;
          const feedback = ref(INITIAL_FEEDBACK);
          const suggestions = ref([]);
          const isPlaying = ref(false);
          const currentDuration = ref(0);
          const totalDuration = ref(0);
          const isGameDone = ref(false);

          const revealDuration = computed(() => {
            if (isGameDone.value === true) {
              return totalDuration.value;
            }
            return Math.min((guesses.value + 1) * 2 + 2, totalDuration.value);
          });

          const isDisabled = computed(() => {
            if (audioPlayer.value == null) return false;
            return currentDuration.value >= revealDuration.value;
          });

          const isDaily = computed(() => {
            return window.location.hash == "#daily";
          });

          const isSkipDisabled = computed(() => {
            return isGameDone.value == true && isDaily.value;
          });

          onMounted(async () => {
            if (isDaily.value) {
              await getDailySong();
            } else {
              await getRandomSong();
            }

            if (audioPlayer.value) {
              audioPlayer.value.addEventListener(
                "timeupdate",
                updateCurrentDuration
              );
              audioPlayer.value.addEventListener("loadedmetadata", () => {
                totalDuration.value = Math.floor(audioPlayer.value.duration);
              });
            }
          });

          async function getDailySong() {
            const response = await fetch("/api/audio/daily");
            currentSong.value = await response.json();
            audioPlayer.value.load();
          }

          async function getRandomSong() {
            const response = await fetch("/api/audio/random-song");
            currentSong.value = await response.json();
            audioPlayer.value.load();
          }

          function playAudio() {
            if (isDisabled.value) {
              audioPlayer.value.currentTime = 0;
            }
            if (audioPlayer.value) {
              if (isPlaying.value) {
                audioPlayer.value.pause();
              } else {
                if (audioPlayer.value.currentTime >= revealDuration.value) {
                  return;
                }
                audioPlayer.value.play();
              }
              isPlaying.value = !isPlaying.value;
            }
          }

          function updateCurrentDuration() {
            if (audioPlayer.value) {
              currentDuration.value = Math.floor(audioPlayer.value.currentTime);
              if (audioPlayer.value.currentTime >= revealDuration.value) {
                audioPlayer.value.pause();
                isPlaying.value = false;
              }
            }
          }

          function audioEnded() {
            isPlaying.value = false;
          }

          async function checkGuess() {
            if (isGameDone.value === true) {
              return;
            }
            guesses.value++;
            if (
              userInput.value.toLowerCase() ===
              currentSong.value.title.toLowerCase()
            ) {
              feedback.value = `Congratulations! You guessed it in ${guesses.value} tries.`;
              isGameDone.value = true;
              localStorage.setItem("IsGameDone", true);
              if (audioPlayer.value) {
                audioPlayer.value.currentTime = 0;
                audioPlayer.value.play();
              }
            } else if (guesses.value >= maxGuesses) {
              feedback.value = `Game over! The song was "${currentSong.value.title}".`;
              isGameDone.value = true;
              localStorage.setItem("IsGameDone", true);
            } else {
              feedback.value = `Wrong guess. Try again! (${
                maxGuesses - guesses.value
              } guesses left)`;
            }
            userInput.value = "";
            suggestions.value = [];
          }

          async function skip() {
            // If the game is done, start a new game
            if (isGameDone.value === true && !isDaily.value) {
              getRandomSong();
              feedback.value = INITIAL_FEEDBACK;
              guesses.value = 0;
              isGameDone.value = false;
              return;
            }
            // If the game is not done, end the game
            isGameDone.value = true;
            feedback.value = `The song was "${currentSong.value.title}".`;
            userInput.value = "";
          }

          async function getSuggestions() {
            if (userInput.value.length > 0) {
              const response = await fetch(
                `/api/audio/songs?query=${encodeURIComponent(userInput.value)}`
              );
              suggestions.value = await response.json();
            } else {
              suggestions.value = [];
            }
          }

          function selectSuggestion(suggestion) {
            userInput.value = suggestion;
            suggestions.value = [];
          }

          return {
            isDisabled,
            isGameDone,
            audioPlayer,
            currentSong,
            userInput,
            guesses,
            feedback,
            suggestions,
            isPlaying,
            isDaily,
            isSkipDisabled,
            currentDuration,
            revealDuration,
            totalDuration,
            playAudio,
            audioEnded,
            checkGuess,
            skip,
            getSuggestions,
            selectSuggestion,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
