<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DDR'dle</title>
    <link rel="icon" type="image/x-icon" href="/static/d.ico" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap"
      rel="stylesheet"
    />
    <style>
      .madimi-one-regular {
        font-family: "Madimi One", serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body class="min-h-screen flex items-center justify-center">
    <div id="app" class="container mx-auto p-4">
      <div
        class="min-h-screen flex flex-col items-center justify-center madimi-one-regular"
      >
        <h1 class="text-8xl text-center mb-6 text-blue-500">ddrdle</h1>
        <div
          class="flex text-center flex-col gap-12 max-w-2xl mx-auto p-8 rounded-xl"
        >
          <div
            class="flex flex-col md:flex-row gap-3 md:items-center md:justify-center"
          >
            <a
              href="/jacket"
              class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white font-bold p-6 md:py-12 md:px-38 text-nowrap rounded-xl hover:shadow-lg hover:scale-105 transition-scale duration-500 focus:outline-none focus:shadow-outline"
            >
              <p class="text-2xl">Cover Art</p>
              <p>Guess the song by its jacket</p>
            </a>

            <a
              href="/track"
              class="bg-gradient-to-r from-purple-500 to-pink-500 text-white font-bold text-nowrap p-6 md:py-12 md:px-38 rounded-xl hover:shadow-lg hover:scale-105 transition-scale duration-500 focus:outline-none focus:shadow-outline"
            >
              <p class="text-2xl">Audio</p>
              <p>Guess the song by its intro</p>
            </a>
          </div>

          <div class="flex flex-col gap-3">
            <a
              href="/jacket#daily"
              class="bg-cyan-500 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline shadow-md hover:shadow-lg hover:scale-105 transition-scale duration-500"
            >
              Daily Cover Art
            </a>
            <a
              href="/track#daily"
              class="bg-pink-500 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline shadow-md hover:shadow-lg hover:scale-105 transition-scale duration-500"
            >
              Daily Audio
            </a>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, computed, onMounted } = Vue;

      createApp({
        setup() {
          const feedback = ref("Start guessing!");

          return {
            feedback,
          };
        },
      }).mount("#app");
    </script>
  </body>
  <footer
    class="fixed bottom-0 left-0 right-0 bg-slate-700 text-white p-4 text-center z-50"
  >
    <p>Created by kongi</p>
    <div class="mt-2">
      <a
        href="https://github.com/sh1ggy/ddrdle"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-400 hover:text-blue-300 mx-2"
        >GitHub</a
      >
      <a
        href="https://x.com/au_shiggy"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-400 hover:text-blue-300 mx-2"
        >Twitter</a
      >
    </div>
  </footer>
</html>
