<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DDR'dle</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div id="app" class="container mx-auto p-4">
      <div
        class="min-h-screen bg-gray-100 flex flex-col items-center justify-center"
      >
        <h1 class="text-4xl font-bold text-center mb-6">DDR'dle</h1>
        <div
          class="flex text-center flex-col gap-12 max-w-2xl mx-auto p-8 rounded-xl"
        >
          <div class="flex flex-col gap-3">
            <a
              href="/jacket"
              class="bg-[#2282c1] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Cover Art
            </a>

            <a
              href="/track"
              class="bg-[#2282c1] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Audio
            </a>
          </div>

          <div class="flex flex-col gap-3">
            <a
              href="/track#daily"
              class="bg-[#2282c1] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Daily Audio
            </a>
            <a
              href="/jacket#daily"
              class="bg-[#2282c1] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Daily Cover Art
            </a>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, computed, onMounted } = Vue;

      createApp({
        setup() {
          const feedback = ref("Start guessing!");

          return {
            feedback,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
